/*Global Styles
=====================*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

div h1 {
    font-family: "Monofett", cursive;
    color: whitesmoke;
    font-size: 90px;
    margin: 0.2em;
    margin-top: 0px;
}

div h2 {
    margin: 1em 0 0.25em;
    color: whitesmoke;
    font-family: "Mitr", sans-serif;
    font-weight: bold;
}

h2:first-of-type {
    margin-top: 0.5em;
}

/*
table,
tr,
td {
    border: 1px solid black;
}
*/

.border {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
	margin-bottom: 20px;
	box-shadow: 8px 8px 8px rgba(0, 0, 0, .25);
/*	cursor: cell;*/
	background-color: white;
	cursor: url("../images/artCursor.png"), auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

form {
    color: whitesmoke;
    font-weight: 800;
    font-size: 20px;
    font-family: "Mitr", sans-serif;
}

button {
	color: whitesmoke;
	font-size: 18px;
    background-color: #2ec9ad;
    border-radius: 10px;
    padding: 0.5em;
    font-family: "Mitr", sans-serif;
	margin-bottom: 10px;
	cursor: pointer;
}

button:hover {
	background-color: #ff1500;
}

.highlight {
    border: 4px solid #ff4E00;
}

.bg {
    background-color: #db0000;
}


/*ID Styles
=====================*/
#colorPicker {
    margin-bottom: 10px;
}

#inputHeight {
    color: black;
}

#inputWidth {
    color: black;
}

#alignAll {
    text-align: center;
}

#special {
   color: black;
   margin-top: 0px;
   margin-bottom: 20px;
}

#backtohome {
    margin: 20px;
    color: whitesmoke;
    background-color: #477dff;
	font-size: 14px;
}

#backtohome:hover {
	background-color: #477dcc;
}

#reset {
    background-color: #ff5000;
}

#reset:hover {
	background-color: #ff1500;
}

#clear {
	background-color: #f5bb00;
}

#clear:hover {
	background-color: #ff1500;
}

#imgBG {
	background: url("../images/portSiteBG.png") no-repeat center center fixed;
	min-height: 35vh;
}

#preMade {
	display: block;
	margin:auto;
}


/*Toggle Switch 
Note: not implemented in current revision
==========================================*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

